<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alan's Website</title>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="dm-container">
        <div class="dm-top">
            
        </div>
        <div class="dm-middle">
            <div>
                <p> Website in development</p>
            </div>
        </div>
        <div class="dm-bottom">
            <div>
                <p class="dm-black">Hi, i am Alan and i am working on it right now :)</p>
            </div>
        </div>
    </div>

</body>
</html>